*{
    margin: 0;
    padding: 0;
}


body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #ddd;
    font-size: 14px;
}
.twitter {
  background-color: #55acee;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  text-decoration :none;
}

header {
  background-image: url("apple.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
#logo {
    padding: 10px 0;
    text-align: center;
}
#logo img {
  max-width: 120px;
  border: 3px solid #fff;
  border-radius: 10%;
}
#logo h1 {
    letter-spacing: 0.15em;
    color: black;
}
nav {
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
}
nav ul {
    margin: 0 10px;
    padding: 0;
}
nav ul li {
    margin: 0 20px;
    display: inline-block;
}
nav ul li a{
    padding: 15px 10px;
    text-decoration: none;
    color: #999;
    font-weight: bold;
    
}

nav ul li a.selected{
    color: #000;
}
.container {
  max-width: 800px;
  margin: -50px auto 0;
  background-color: #fff;
}
section {
    padding: 30px 20px ;
}
section h2 {
    padding: 10px 0 20px 0;
    text-align: center;
    letter-spacing: 0.15em;
}
section a {
    text-decoration:none;
}
footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}
nav {
    text-align: center;
    background-color:#fff;
}

